body{
	margin : 0;
	background-color: #f3f3f3;
	font-family: sans-serif;
	color : #666666;
} /* fait */

h1, h2, h3, h4, h5, h6{
	color : #6666ff;
	font-family: serif;
}

form{
	text-align: center;
} /* fait */

#contenaire_ticket{
	width : 70%;
	height : 100vh;
	margin : auto;
} /* fait */

.ticket{
	width : 25%;
	height : 450px;
	margin : auto;
	margin-top : 20px;
	display : flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: white;
	border-radius: 5px;
	overflow: hidden;
	position : relative;
} /* fait */

.ticket h2{
	font-weight : bold;
}
.text p{
	text-align: justify;
	width : 70%;
	margin : 0 auto;
	color : #666666;
}

.contenaire_title_date{
	height : 30px;
} /* fait */

.a-ticket{
	display: block;
	width: 100%;
	height : 100%;
	text-decoration : none;
	color : initial;
	margin : 0;
} /* fait */

#img-background{
	background-image: url('img/alaska-main-background.jpg');
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 550px;

} /* fait */

#main-summarize{
	width : 80%;
	height : 250px;
	border-bottom : 1px solid black;
	border-left : 1px solid black;
	border-right : 1px solid black;
	margin: 30px auto;
	background-color: white;
	position : relative;
	overflow: auto;
}

#main-summarize h1{
	text-align: center;
}

#main-summarize p{
	width : 90%;
	margin : 10px auto;
}

.author{
	position : absolute;
	bottom : 0;
	left : 0;
	font-size : 0.6em;
	color : #666666;
}

.date{
	position : absolute;
	bottom : 0;
	right : 0;
	font-size : 0.6em;
	color : #666666;
}

#contenaire-link-page{
	width : 25%;
	margin : auto;
}

@media screen and (max-width: 640px) {
	.ticket{
		width : 90%;
	}
	.ticket p{
		width : 90%;
	}
}