#posts-list li, #comments-contenair li{
	list-style-type: none;
	margin-bottom : 10px;
	padding : 10px;
	border : 1px solid black;
	display : flex;
	justify-content: space-between;
}

#posts-list a{
	text-decoration : none;
	margin-right : 5px;
}


#comments-contenair li{
	list-style-type : none;
	margin-bottom : 15px;
}

#comments-contenair a{
	text-decoration : none;
	color : black;
	font-size : 0.9em;
}

#comments-contenair a:hover{
	font-weight : bold;
}

.p-Nreport{
	margin : 0;
}