#h1-homepage{
	text-align : center;
}

#last-post{
	border-top : 3px solid #6666ff;
	border-bottom : 3px solid #6666ff;
	margin-top : 200px;
	width: 100%;
	background-color: white;
}

.ticket{
	display: block;
	width: 70%;
	background-color: white;
	margin: auto;
	text-align : center;
	padding-bottom : 20px;
}

.text p{
	width : 30%;
	margin : auto;
	text-align: justify;
}


.a-ticket{
	display: block;
	width: 100%;
	height : 100%;
	text-decoration : none;
	color : inherit;
	margin : 0;
} 

#last-comment > p{
	text-align : center;
}

#last-comment > h2{
	text-align: center;
}

#last-comment  a{
	text-decoration : none;
	color : inherit;
}